In [2]:
import pandas as pd
import numpy as np

In [37]:
#Crear el tablero
tablero=[
    ['-','-','-','-','-','-','-','-','-','-'],
    ['-','-','-','-','-','-','-','-','-','-'],
    ['-','-','-','-','-','-','-','-','-','-'],
    ['-','-','-','-','-','-','-','-','-','-'],
    ['-','-','-','-','-','-','-','-','-','-'],
    ['-','-','-','-','-','-','-','-','-','-'],
    ['-','-','-','-','-','-','-','-','-','-'],
    ['-','-','-','-','-','-','-','-','-','-'],
    ['-','-','-','-','-','-','-','-','-','-'],
    ['-','-','-','-','-','-','-','-','-','-'],
]
tablero

[['-', '-', '-', '-', '-', '-', '-', '-', '-', '-'],
 ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-'],
 ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-'],
 ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-'],
 ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-'],
 ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-'],
 ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-'],
 ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-'],
 ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-'],
 ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-']]

In [38]:
df = pd.DataFrame(np.random.rand(10, 10),
             columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
             index=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'])
df
#Se pueden modificar los valores de todas las columnas?

,A,B,C,D,E,F,G,H,I,J
1,0.085195,0.393826,0.264956,0.246501,0.872756,0.812231,0.111005,0.577352,0.835254,0.624431
2,0.229536,0.359116,0.505663,0.909294,0.344082,0.829942,0.791885,0.292540,0.460043,0.379872
3,0.573378,0.497624,0.653877,0.704192,0.599339,0.902492,0.552889,0.713098,0.005080,0.922342
4,0.790557,0.782372,0.458890,0.741825,0.859446,0.990751,0.293496,0.560987,0.171650,0.679361
5,0.312244,0.716117,0.965347,0.162260,0.576665,0.458893,0.442770,0.345712,0.444703,0.262998
6,0.312893,0.454190,0.758323,0.575655,0.274177,0.717281,0.229883,0.000820,0.053233,0.416532
7,0.813358,0.614391,0.381239,0.405222,0.624955,0.328976,0.414547,0.576625,0.114652,0.453706
8,0.690050,0.797857,0.047699,0.671951,0.217777,0.618294,0.198371,0.031669,0.698451,0.851870
9,0.644915,0.609875,0.919641,0.572903,0.565864,0.964432,0.106922,0.129092,0.579990,0.727286
10,0.289710,0.567188,0.520072,0.941655,0.295082,0.306848,0.271910,0.323640,0.368813,0.493562

In [8]:
Tablero_agua = np.full((10,10), "_")
Tablero_maquina = Tablero_agua
Tablero_agua
Tablero_jugador = Tablero_agua
Tablero_jugador

array([['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_']], dtype='<U1')

In [12]:
Tablero_maquina[0, 0:4]= "B"
Tablero_maquina[3:6, 2]= "B"
Tablero_maquina[3:6, 5]= "B"
Tablero_maquina[1, 7:9]= "B"
Tablero_maquina[3, 7:9]= "B"
Tablero_maquina[9, 1:3]="B"
Tablero_maquina[7, 1]= "B"
Tablero_maquina[7, 4]= "B"
Tablero_maquina[8, 6]= "B"
Tablero_maquina[9, 8]= "B"
Tablero_maquina

array([['B', 'B', 'B', 'B', '_', 'B', 'B', '_', '_', '_'],
       ['_', '_', '_', 'B', '_', '_', '_', 'B', 'B', '_'],
       ['_', '_', '_', 'B', '_', 'B', '_', '_', '_', '_'],
       ['_', '_', 'B', 'B', '_', 'B', '_', 'B', 'B', '_'],
       ['_', '_', 'B', '_', '_', 'B', '_', '_', '_', '_'],
       ['B', 'B', 'B', 'B', '_', 'B', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', 'B', '_', '_', 'B', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', 'B', '_', '_', '_'],
       ['_', 'B', 'B', '_', '_', '_', '_', '_', 'B', '_']], dtype='<U1')

In [9]:
Tablero_jugador=Tablero_agua
Tablero_jugador

array([['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_']], dtype='<U1')

In [10]:
#Tablero_jugador=Tablero_agua
Tablero_jugador[5, 0:4]= "B"
Tablero_jugador[1:4, 3]= "B"
Tablero_jugador[2:5, 5]= "B"
Tablero_jugador[0, 1:3]= "B"
Tablero_jugador[0, 5:7]="B"
Tablero_jugador[9, 1:3]= "B"
Tablero_jugador[7, 1]= "B"
Tablero_jugador[7, 4]= "B"
Tablero_jugador[8, 6]= "B"
Tablero_jugador[9, 8]= "B"
Tablero_jugador

array([['_', 'B', 'B', '_', '_', 'B', 'B', '_', '_', '_'],
       ['_', '_', '_', 'B', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', 'B', '_', 'B', '_', '_', '_', '_'],
       ['_', '_', '_', 'B', '_', 'B', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', 'B', '_', '_', '_', '_'],
       ['B', 'B', 'B', 'B', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', 'B', '_', '_', 'B', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', 'B', '_', '_', '_'],
       ['_', 'B', 'B', '_', '_', '_', '_', '_', 'B', '_']], dtype='<U1')

In [11]:
Tablero_agua_M = np.full((10,10), "_")
Tablero_agua_M

array([['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_'],
       ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_']], dtype='<U1')

In [42]:
class Tablero:
    dimensiones = (10,10)

def __init__(self, disparo):
    self.disparo = disparo

def acierto(self):
    if self(disparo =

In [43]:
# Tengo que crear barcos 

#barco_4 = np.array(["B","B","B","B"])
#barco_3 = np.array(["B","B","B"])
#barco_2 = np.array(["B","B"])
#barco_1 = np.array(["B"])

In [16]:
# Hacer funcion que me indique si he acertado

def disparo_jugador():
    x=int(input("Coordenada X"))
    y=int(input("Coordenada Y"))
    if Tablero_maquina[x][y] == "B":
        True
        if True:
            Tablero_agua[x][y] == "X" & Tablero_maquina[x][y] == "X"
    while True:
        pass
    else:
        Tablero_agua[x][y] == "A"
    return Tablero_agua
    return Tablero_maquina
disparo_jugador()

TypeError: unsupported operand type(s) for &: 'str' and 'numpy.str_'